html {
  font-family: 'Muli', sans-serif;
  font-size: 62.5%; }
  html body {
    font-size: 1.6rem; }
  html .container {
    margin: 0 15px 0 15px; }
    @media screen and (min-width: 576px) {
      html .container {
        margin: 0 35px 0 35px; } }
    @media screen and (min-width: 768px) {
      html .container {
        margin: 0 75px 0 75px; } }
    @media screen and (min-width: 992px) {
      html .container {
        margin: 0 125px 0 125px; } }
    @media screen and (min-width: 1200px) {
      html .container {
        margin: 0 175px 0 175px; } }
    @media screen and (min-width: 2000px) {
      html .container {
        margin: 0 240px 0 240px; } }
