html {
  font-family: 'Muli', sans-serif;
  font-size: 62.5%; }
  html body {
    font-size: 1.6rem; }
    html body p, html body li, html body blockquote {
      color: #7e8082;
      line-height: 24px; }
    html body h2, html body h3, html body h4 {
      color: #f15c22; }
  html .container {
    margin: 0 15px 0 15px; }
    @media screen and (min-width: 576px) {
      html .container {
        margin: 0 35px 0 35px; } }
    @media screen and (min-width: 768px) {
      html .container {
        margin: 0 75px 0 75px; } }
    @media screen and (min-width: 992px) {
      html .container {
        margin: 0 125px 0 125px; } }
    @media screen and (min-width: 1200px) {
      html .container {
        margin: 0 125px 0 125px; } }
    @media screen and (min-width: 2000px) {
      html .container {
        margin: 0 270px 0 270px; } }
  html .scroll-to-top-button {
    position: absolute;
    right: 15px;
    top: 108px;
    width: 43px;
    height: auto;
    padding: 10px 0 7px 0;
    background-color: #96d4d2;
    z-index: 50;
    text-align: center; }
    @media screen and (min-width: 992px) {
      html .scroll-to-top-button {
        display: none; } }
    html .scroll-to-top-button img {
      width: 23px; }
