.before-after-container {
  clear: both;
  position: relative;
  top: 450px;
  padding-bottom: 75px;
  background-color: #fef9f7;
  height: auto;
  overflow: auto; }
  @media screen and (min-width: 460px) {
    .before-after-container {
      top: 350px; } }
  @media screen and (min-width: 576px) {
    .before-after-container {
      top: 100px; } }
  @media screen and (min-width: 1024px) {
    .before-after-container {
      padding-top: 75px; } }
  @media screen and (min-width: 1200px) {
    .before-after-container {
      padding: 30px 50px 50px 50px; } }
  .before-after-container .text-column {
    position: relative;
    z-index: 2;
    padding-top: 40px; }
    @media screen and (min-width: 1024px) {
      .before-after-container .text-column {
        float: right;
        padding-right: 60px;
        width: 45%; } }
    .before-after-container .text-column h2:nth-of-type(2) {
      margin-top: 30px; }
    .before-after-container .text-column p {
      margin-top: 30px; }
      .before-after-container .text-column p:last-child {
        margin-bottom: 60px; }
  .before-after-container .img-column {
    position: relative;
    z-index: 2;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .before-after-container .img-column {
        float: left;
        width: 40%; } }
    .before-after-container .img-column h3 {
      font-weight: 300;
      color: #f15c22;
      margin: 30px 0 30px 0; }
    .before-after-container .img-column img {
      width: 100%; }
