.contact-container {
  clear: both;
  position: relative;
  top: 450px;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: left;
  background-color: #e6f5f4; }
  @media screen and (min-width: 460px) {
    .contact-container {
      top: 350px; } }
  @media screen and (min-width: 576px) {
    .contact-container {
      top: 100px; } }
  @media screen and (min-width: 1024px) {
    .contact-container {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .contact-container h2 {
    font-size: 2rem;
    line-height: 33px; }
  @media screen and (min-width: 1024px) {
    .contact-container .contact-content {
      text-align: center;
      width: 30%;
      margin: 0 auto; } }
  .contact-container .contact-content .contact-button-container {
    width: 120px;
    height: 35px;
    background-color: #f15c22;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding-top: 13px;
    margin: 30px 0 10px 0;
    text-align: center; }
    .contact-container .contact-content .contact-button-container span {
      float: none;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      font-size: 2rem;
      font-weight: normal;
      font-style: normal;
      margin-top: 25px;
      padding: 0; }
    .contact-container .contact-content .contact-button-container:hover {
      background-color: #e6f5f4; }
      .contact-container .contact-content .contact-button-container:hover span {
        color: #f15c22; }
    @media screen and (min-width: 1024px) {
      .contact-container .contact-content .contact-button-container {
        margin: 0 auto; } }
    .contact-container .contact-content .contact-button-container span {
      font-size: 1.4rem; }
