footer {
  clear: both;
  position: relative;
  top: 450px;
  height: 55px;
  text-align: center;
  background-color: #82cec9;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #fff;
  z-index: 50; }
  @media screen and (min-width: 460px) {
    footer {
      top: 350px; } }
  @media screen and (min-width: 576px) {
    footer {
      top: 100px; } }
  footer .footer-content-container span {
    display: block;
    padding-top: 15px;
    color: #fff; }
