header {
  width: 100%;
  height: 120px;
  background-color: #82cec9; }
  @media screen and (min-width: 992px) {
    header {
      height: 75px; } }
  header .header-content-container {
    padding-top: 22px; }
    @media screen and (min-width: 992px) {
      header .header-content-container {
        padding-top: 16px; } }
    header .header-content-container img {
      display: block;
      width: 124px;
      margin-bottom: 14px; }
      @media screen and (min-width: 992px) {
        header .header-content-container img {
          float: left;
          width: 125px; } }
    header .header-content-container span {
      display: block;
      font-style: italic;
      font-weight: 300;
      font-size: 1.2rem;
      color: #fff; }
      @media screen and (min-width: 400px) {
        header .header-content-container span {
          font-size: 1.4rem; } }
      @media screen and (min-width: 576px) {
        header .header-content-container span {
          float: left;
          font-size: 1.8rem; } }
      @media screen and (min-width: 992px) {
        header .header-content-container span {
          float: left;
          font-size: 2rem;
          padding: 10px 0 0 50px; } }
      @media screen and (min-width: 2800px) {
        header .header-content-container span {
          padding: 17px 0 0 50px; } }
    header .header-content-container .buy-now-button-container {
      width: 166px;
      height: 75px;
      background-color: #f15c22;
      cursor: pointer;
      transition: all .3s ease-in-out;
      position: absolute;
      display: none;
      top: 0;
      right: 0; }
      header .header-content-container .buy-now-button-container span {
        float: none;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        font-size: 2rem;
        font-weight: normal;
        font-style: normal;
        margin-top: 25px;
        padding: 0; }
      header .header-content-container .buy-now-button-container:hover {
        background-color: #e6f5f4; }
        header .header-content-container .buy-now-button-container:hover span {
          color: #f15c22; }
      @media screen and (min-width: 992px) {
        header .header-content-container .buy-now-button-container {
          display: block; } }
