.request-sample-container {
  clear: both;
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #82cec9; }
  @media screen and (min-width: 1024px) {
    .request-sample-container {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .request-sample-container .request-content h2 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 40px; }
    @media screen and (min-width: 1024px) {
      .request-sample-container .request-content h2 {
        text-align: center; } }
  .request-sample-container .request-content .request-sample-button {
    width: 185px;
    height: 35px;
    background-color: #f15c22;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 60px; }
    .request-sample-container .request-content .request-sample-button span {
      float: none;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      font-size: 2rem;
      font-weight: normal;
      font-style: normal;
      margin-top: 25px;
      padding: 0; }
    .request-sample-container .request-content .request-sample-button:hover {
      background-color: #e6f5f4; }
      .request-sample-container .request-content .request-sample-button:hover span {
        color: #f15c22; }
    @media screen and (min-width: 1024px) {
      .request-sample-container .request-content .request-sample-button {
        text-align: center;
        margin: 0 auto; } }
    .request-sample-container .request-content .request-sample-button span {
      font-size: 1.4rem; }
  .request-sample-container .sample-product {
    position: absolute;
    right: 20px;
    bottom: -4px;
    z-index: 100; }
    @media screen and (min-width: 460px) {
      .request-sample-container .sample-product {
        right: 40px;
        width: 75px; } }
    @media screen and (min-width: 1024px) {
      .request-sample-container .sample-product {
        right: 120px;
        width: 200px; } }
    @media screen and (min-width: 1200px) {
      .request-sample-container .sample-product {
        right: 160px; } }
    .request-sample-container .sample-product img {
      width: 60px; }
      @media screen and (min-width: 460px) {
        .request-sample-container .sample-product img {
          width: 75px; } }
      @media screen and (min-width: 1024px) {
        .request-sample-container .sample-product img {
          width: 180px; } }
