.targeted-solutions-container {
  position: relative;
  top: 350px;
  padding: 0;
  padding-top: 40px;
  text-align: center; }
  @media screen and (min-width: 460px) {
    .targeted-solutions-container {
      top: 275px; } }
  @media screen and (min-width: 576px) {
    .targeted-solutions-container {
      top: 0; } }
  @media screen and (min-width: 768px) {
    .targeted-solutions-container {
      margin: 0 75px 0 75px; } }
  @media screen and (min-width: 1200px) {
    .targeted-solutions-container {
      margin: 0 100px 0 100px; } }
  @media screen and (min-width: 2000px) {
    .targeted-solutions-container {
      margin: 0 270px 0 270px; } }
  .targeted-solutions-container h2 {
    color: #f15c22;
    padding-bottom: 40px; }
  .targeted-solutions-container .col-3x {
    text-align: left;
    display: inline-block; }
    @media screen and (min-width: 768px) {
      .targeted-solutions-container .col-3x {
        width: 38%;
        margin-top: 30px;
        padding: 0 30px 0 30px; } }
    @media screen and (min-width: 996px) {
      .targeted-solutions-container .col-3x:first-of-type {
        padding-left: 0;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #717171; } }
    @media screen and (min-width: 1024px) {
      .targeted-solutions-container .col-3x {
        width: 40%; } }
    @media screen and (min-width: 1200px) {
      .targeted-solutions-container .col-3x {
        margin-top: 10px;
        width: 28%; }
        .targeted-solutions-container .col-3x:nth-of-type(2) {
          border-right-style: solid;
          border-right-width: 1px;
          border-right-color: #717171; }
        .targeted-solutions-container .col-3x:nth-of-type(3) {
          padding-right: 0; } }
    .targeted-solutions-container .col-3x img {
      width: 100%; }
    .targeted-solutions-container .col-3x .targeted-solutions-text-container {
      margin: 40px 15px 20px 15px; }
      @media screen and (min-width: 768px) {
        .targeted-solutions-container .col-3x .targeted-solutions-text-container {
          margin: 60px 0px 20px 0px; } }
      @media screen and (min-width: 1200px) {
        .targeted-solutions-container .col-3x .targeted-solutions-text-container {
          margin: 30px 0; } }
      .targeted-solutions-container .col-3x .targeted-solutions-text-container h3 {
        color: #f15c22;
        padding-bottom: 10px; }
        .targeted-solutions-container .col-3x .targeted-solutions-text-container h3 span {
          color: #1f1f1f; }
      .targeted-solutions-container .col-3x .targeted-solutions-text-container p {
        margin-bottom: 30px; }
      .targeted-solutions-container .col-3x .targeted-solutions-text-container .buy-now-button-container {
        width: 120px;
        height: 47px;
        background-color: #f15c22;
        cursor: pointer;
        transition: all .3s ease-in-out;
        display: block;
        margin-bottom: 60px; }
        .targeted-solutions-container .col-3x .targeted-solutions-text-container .buy-now-button-container span {
          float: none;
          color: #fff;
          text-align: center;
          vertical-align: middle;
          font-size: 2rem;
          font-weight: normal;
          font-style: normal;
          margin-top: 25px;
          padding: 0; }
        .targeted-solutions-container .col-3x .targeted-solutions-text-container .buy-now-button-container:hover {
          background-color: #e6f5f4; }
          .targeted-solutions-container .col-3x .targeted-solutions-text-container .buy-now-button-container:hover span {
            color: #f15c22; }
        @media screen and (min-width: 1200px) {
          .targeted-solutions-container .col-3x .targeted-solutions-text-container .buy-now-button-container {
            margin-bottom: 10px; } }
        .targeted-solutions-container .col-3x .targeted-solutions-text-container .buy-now-button-container span {
          display: block;
          padding-top: 14px;
          font-size: 1.6rem; }
  .targeted-solutions-container .feature-list-container {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .targeted-solutions-container .feature-list-container {
        margin-left: 30px; } }
    .targeted-solutions-container .feature-list-container .col-2x {
      float: left;
      text-align: left;
      margin: 0  15px 0 15px; }
      .targeted-solutions-container .feature-list-container .col-2x h2 {
        padding-bottom: 10px; }
      @media screen and (min-width: 1024px) {
        .targeted-solutions-container .feature-list-container .col-2x {
          width: 45%;
          margin: 100px 0 20px 0; } }
      @media screen and (min-width: 1200px) {
        .targeted-solutions-container .feature-list-container .col-2x {
          width: 47%; } }
      .targeted-solutions-container .feature-list-container .col-2x span {
        font-weight: 300;
        font-size: 1.7rem;
        color: #f15c22; }
      .targeted-solutions-container .feature-list-container .col-2x ul {
        padding-left: 20px;
        padding-bottom: 10px; }
        .targeted-solutions-container .feature-list-container .col-2x ul li {
          color: #f15c22;
          max-width: 100%;
          padding-bottom: 5px; }
          @media screen and (min-width: 1024px) {
            .targeted-solutions-container .feature-list-container .col-2x ul li {
              max-width: 85%; } }
          .targeted-solutions-container .feature-list-container .col-2x ul li span {
            color: #7e8082; }
