.what-it-is-container {
  position: relative;
  margin: 0;
  padding-top: 340px; }
  @media screen and (min-width: 490px) {
    .what-it-is-container {
      padding-top: 300px; } }
  @media screen and (min-width: 992px) {
    .what-it-is-container {
      padding-top: 20px;
      left: 70px; } }
  .what-it-is-container .icon-container {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto; }
    @media screen and (min-width: 576px) {
      .what-it-is-container .icon-container {
        position: relative; } }
    .what-it-is-container .icon-container .icon {
      display: inline-block;
      margin: 5px 20px 5px 20px; }
      .what-it-is-container .icon-container .icon:first-child {
        margin: 0 40px 0 0; }
      @media screen and (min-width: 768px) {
        .what-it-is-container .icon-container .icon {
          margin: 15px; } }
      @media screen and (min-width: 992px) {
        .what-it-is-container .icon-container .icon {
          margin: 30px; } }
      @media screen and (min-width: 1200px) {
        .what-it-is-container .icon-container .icon {
          margin: 10px 40px; } }
      .what-it-is-container .icon-container .icon img {
        width: 55px; }
      .what-it-is-container .icon-container .icon span {
        display: block;
        font-size: 1.3rem; }
        @media screen and (min-width: 992px) {
          .what-it-is-container .icon-container .icon span {
            font-size: 1.6rem; } }
  .what-it-is-container .what-is-it-text {
    clear: both;
    position: relative;
    padding-top: 200px;
    margin-top: 20px; }
    @media screen and (min-width: 460px) {
      .what-it-is-container .what-is-it-text {
        padding-top: 160px; } }
    @media screen and (min-width: 576px) {
      .what-it-is-container .what-is-it-text {
        margin: 20px 15px 75px 150px;
        padding-top: 30px; } }
    @media screen and (min-width: 700px) {
      .what-it-is-container .what-is-it-text {
        padding-top: 0; } }
    @media screen and (min-width: 992px) {
      .what-it-is-container .what-is-it-text {
        margin: 20px 15px 75px 100px; } }
    @media screen and (min-width: 1200px) {
      .what-it-is-container .what-is-it-text {
        margin: 20px 15px 75px 100px; } }
    .what-it-is-container .what-is-it-text h2 {
      color: #f15c22; }
    .what-it-is-container .what-is-it-text p:first-of-type {
      padding-bottom: 30px; }
