.where-to-buy-container {
  clear: both;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .where-to-buy-container {
      padding-top: 65px;
      padding-bottom: 60px; } }
  .where-to-buy-container .carrier-logo-container img {
    display: inline-block;
    width: 100%;
    max-width: 120px;
    height: 100%;
    vertical-align: middle;
    padding: 5px; }
    @media screen and (min-width: 768px) {
      .where-to-buy-container .carrier-logo-container img {
        padding: 10px; } }
    @media screen and (min-width: 1024px) {
      .where-to-buy-container .carrier-logo-container img {
        max-width: 140px;
        padding: 20px; } }
    @media screen and (min-width: 1200px) {
      .where-to-buy-container .carrier-logo-container img {
        padding: 25px;
        max-width: 160px; } }
    @media screen and (min-width: 1600px) {
      .where-to-buy-container .carrier-logo-container img {
        padding: 60px;
        max-width: 180px; } }
