@import './utils/colours';
@import './utils/mixins';

.before-after-container {
    clear: both;
    position: relative;
    top: 450px; 
    padding-bottom: 75px;
    background-color: #fef9f7;
    height: auto;
    overflow: auto;

    @media screen and (min-width: 460px) {
        top: 350px;
    }

    @media screen and (min-width: 576px) {
        top: 100px;
    }

    @media screen and (min-width: 1024px) {
        padding-top: 75px;
    }

    @media screen and (min-width: 1200px) {        
        padding: 30px 50px 50px 50px
    }

    .text-column {
        position: relative;
        z-index: 2;
        padding-top: 40px;

        @media screen and (min-width: 1024px) {
            float: right;
            padding-right: 60px;
            width: 45%;
        }

        h2 {
            &:nth-of-type(2) {
                margin-top: 30px;
            }
        }

        p {
            margin-top: 30px;
            &:last-child {
                margin-bottom: 60px;
            }
        }
    }

    .img-column {
        position: relative;
        z-index: 2;
        text-align: center;
        
        @media screen and (min-width: 1024px) {
            float: left;
            width: 40%;
        }

        h3 {
            font-weight: 300;
            color: $secondary-color;
            margin: 30px 0 30px 0;
        }

        img {
            width: 100%;
        }
    } 
}