@import './utils/colours';
@import './utils/mixins';

.contact-container {
    clear: both;
    position: relative;
    padding-top: 30px; 
    padding-bottom: 50px; 
    text-align: left;  
    background-color: #e6f5f4;

    @media screen and (min-width: 1024px) {
        padding-top: 60px;
        padding-bottom: 60px; 
    }

    h2 {
        font-size: 2rem;
        line-height: 33px;
    }

    .contact-content {
        @media screen and (min-width: 1024px) {
            text-align: center;            
            width: 30%;
            margin: 0 auto;
        }

        .contact-button-container {
            @include buy-now-button(120px, 35px);
            padding-top: 13px;
            margin: 30px 0 10px 0;
            text-align: center;    

            &:hover {
                background-color: #82cec9;
            }

            @media screen and (min-width: 1024px) {
                margin: 0 auto;
            }
            span {
                font-size: 1.4rem;
            }
        }
    }
} 