@import './utils/colours';
@import './utils/mixins';

footer {
    clear: both;
    position: relative;
    height: 55px;
    text-align: center;
    background-color: #82cec9;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #fff;

    .footer-content-container {        
        span {
            display: block;
            padding-top: 15px;
            color: #fff;
        }
    }
}