@import 'colours';

header {
    width: 100%;
    height: 185px;    
    background-color: $primary-color;

     @media screen and (min-width: 992px){
        height: 75px;
     }

    .header-content-container {
        padding-top: 27px;

        @media screen and (min-width: 992px){
            padding-top: 16px;
        }

        img {
            display: block;
            width: 209px;            
            margin-bottom: 14px;

            @media screen and (min-width: 992px){
                float: left;               
                width: 125px;
            }
        }

        span {
            display: block;            
            font-style: italic;
            font-weight: 300;
            font-size: 2.2rem;
            color: #fff;

            @media screen and (min-width: 992px) {
                float: left;
                font-size: 2rem;
                padding: 10px 0 0 50px;
            }

            @media screen and (min-width: 2800px) {
                padding: 17px 0 0 50px;
            }
        }

        .buy-now-button {
            position: absolute;
            display: none;
            top: 0;
            right: 0;
            width: 166px;
            height: 75px;
            background-color: $secondary-color;

            @media screen and (min-width: 1024px) {
                display: block;
            }

            span {
                float: none;
                color: #fff;
                text-align: center;
                vertical-align: middle;
                font-size: 2rem;
                font-weight: normal;
                font-style: normal;
                margin-top: 25px;
                padding: 0;
                
            }
        }
    }
}
