@import './utils/colours';
@import './utils/mixins';

header {
    width: 100%;
    height: 140px;    
    background-color: $primary-color;

     @media screen and (min-width: 992px){
        height: 75px;
     }

    .header-content-container {
        padding-top: 22px;

        @media screen and (min-width: 992px){
            padding-top: 16px;
        }

        img {
            display: block;
            width: 124px;            
            margin-bottom: 14px;

            @media screen and (min-width: 992px){
                float: left;               
                width: 125px;
            }
        }

        span {
            display: block;            
            font-style: italic;
            font-weight: 300;
            font-size: 1.4rem;
            color: #fff;

            @media screen and (min-width: 576px) {
                float: left;
                font-size: 1.8rem;
            }

            @media screen and (min-width: 992px) {
                float: left;
                font-size: 2rem;
                padding: 10px 0 0 50px;
            }

            @media screen and (min-width: 2800px) {
                padding: 17px 0 0 50px;
            }
        }

        .buy-now-button-container {
            @include buy-now-button(166px, 75px);
            position: absolute;
            display: none;
            top: 0;
            right: 0;

            @media screen and (min-width: 992px) {
                display: block;
            }
        }
    }
}
