@import './utils/colours';
@import './utils/mixins';

.ingredients-container {
    clear: both;
    position: relative;
    width: 100%;
    top: 95px;
    height: auto;
    margin-top: 60px;
    padding-bottom: 50px;
    background-color: $blue-bg-color;     
    z-index: 1;

    @media screen and (min-width: 1024px) {
        top: 10px;
        float: left;
    }

    .background-image-container {
        position: absolute;
        top: -170px;
        right: 30px;
        opacity: .4; 
        z-index: -1;
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
        }

        img {
            width: 1490px;
        }
    }

    .side-bottle-divider {
        position: absolute;
        top: -53px;
        right: 0;

        @media screen and (min-width: 1024px) {
            top: -75px;
        }

        img {
            width: 300px;

            @media screen and (min-width: 1024px) {
                width: 420px;
            }
        }
    }

    .ingredients-content-container {        
        .ingredients-icon {
            display: block;        
            width: 60px;
            padding-top: 80px;
            margin: 0 auto;

            @media screen and (min-width: 1200px) {
                padding-top: 50px;
            }
        }

        h2 {
            text-align: center;
            color: $secondary-color;
        }

        .col-2x {

            @media screen and (min-width: 1024px) {
                float: left;
                width: 44%;
                margin-left: 30px;
                margin-bottom: 100px;
            }

            @media screen and (min-width: 1200px) {
                margin-left: 10px;
                width: 48%;
            }

            ul {
                margin: 0;         
                
                padding-left: 25px;
                li {
                    margin-top: 30px;
                    color: $secondary-color;
                    
                    @media screen and (min-width: 1024px) {
                        max-width: 90%;
                    }

                    h4 {                    
                        font-weight: 300;
                        font-size: 1.5rem;
                    }
                    span {
                        color: $text-color;
                    }
                }
            }
        }
    }
}