@import 'colours';

.main-hero {
    background-image: url("../img/main-hero-sm.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 432px;
}