@import './utils/colours';
@import './utils/mixins';

.request-sample-container {
    clear: both;
    position: relative;
    padding-top: 30px; 
    padding-bottom: 10px; 
    text-align: left;  
    background-color: #82cec9;

    @media screen and (min-width: 1024px) {
        padding-top: 60px;
        padding-bottom: 60px; 
    }

    .request-content {
        h2 {
            color: #fff;
            font-weight: 500;
            margin-bottom: 40px;

            @media screen and (min-width: 1024px) { 
                text-align: center;
            }
        }

        .request-sample-button {
            @include buy-now-button(185px, 35px);
            text-align: center;
            padding-top: 12px;
            margin-bottom: 60px;            

            @media screen and (min-width: 1024px) { 
                text-align: center;
                margin: 0 auto;
            }

            span {
                font-size: 1.4rem;
            }

        }
    }

    .sample-product {
        position: absolute;
        right: 20px;
        bottom: -4px;
        z-index: 100;

        @media screen and (min-width: 460px) {
            right: 40px;
            width: 75px;
        }

        @media screen and (min-width: 1024px) {
            right: 120px;            
            width: 200px;
        }

        @media screen and (min-width: 1200px) {
            right: 160px;
        }

        img {
            width: 60px;

            @media screen and (min-width: 460px) {
                width: 75px;
            }

            @media screen and (min-width: 1024px) {
                width: 180px;
            }
        }
    }
}