@import './utils/colours';
@import './utils/mixins';

.shipping-container {
    clear: both;
    position: relative;
    top: 500px;    
    padding-top: 50px; 
    padding-bottom: 50px; 
    text-align: left; 
    background-color: #e3e3e3;

    @media screen and (min-width: 460px) {
        top: 350px;
    }

    @media screen and (min-width: 576px) {
        top: 100px;
    }

    @media screen and (min-width: 1024px) {
        padding-top: 60px;        
        overflow: auto;
    }

    @media screen and (min-width: 1024px) {
        padding-bottom: 50px;
        padding-top: 70px;
    }

    img {
        position: absolute; 
        right: 0; 
        top: 30px;
        width: 70px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        opacity: .6;

         @media screen and (min-width: 460px) {
            width: 110px;
         }

         @media screen and (min-width: 1024px) {
            left: 0;
            top: 60px;
            width: 225px;
            -moz-transform: scaleX(1);
            -o-transform: scaleX(1);
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    }


    .shipping-content-columns {
        
        @media screen and (min-width: 1024px) {
            padding-left: 150px;
        }

        h2 {
            margin: -5px 0 40px 0;
            font-size: 2.2rem;

            @media screen and (min-width: 460px) {
                font-size: 2.4rem;
            }

            @media screen and (min-width: 1024px) {
                margin: 0;
            }
        }

        .shipping-column {
            margin-bottom: 40px;

            @media screen and (min-width: 1024px) {
                float: left;
                width: 45%;

                &:first-of-type {
                    margin-right: 60px;
                }                
            }
            
            h4 {
                font-weight: 300;
            }
        }
    }       
}