@import './utils/colours';
@import './utils/mixins';

.targeted-solutions-container {
    position: relative;
    top: 350px;
    padding: 0;
    padding-top: 40px;
    text-align: center;

    @media screen and (min-width: 460px) {
        top: 275px;
    }

    @media screen and (min-width: 576px) {
        top: 0;
    }

    @media screen and (min-width: 768px){
        margin: 0 75px 0 75px;
    }

    @media screen and (min-width: 992px){
            margin: 0 125px 0 125px;
        }

        @media screen and (min-width: 1200px){
            margin: 0 165px 0 165px;
        }

        @media screen and (min-width: 2000px){
            margin: 0 270px 0 270px;
        }
    
    h2 {
        color: $secondary-color;
        padding-bottom: 40px;
    }

    .col-3x {
        text-align: left;
        display: inline-block;

        @media screen and (min-width: 768px) {
            width: 38%;
            margin-top: 30px;
            padding: 0 30px 0 30px;            
        }

        @media screen and (min-width: 996px) {

            &:first-of-type {
                padding-left: 0;                
                border-right-style: solid;
                border-right-width: 1px;
                border-right-color: #717171;
            }         
        }

        @media screen and (min-width: 1024px) {
            width: 40%;  
        }

        @media screen and (min-width: 1200px) {
            width: 27%;
            
            &:nth-of-type(2) {  
                border-right-style: solid;
                border-right-width: 1px;
                border-right-color: #717171;
            }

            &:nth-of-type(3) {
                padding-right: 0;                 
            } 
        }

        img {
            width: 100%;
        }        

        .targeted-solutions-text-container {                         
            margin: 60px 15px 20px 15px;

            @media screen and (min-width: 768px) {
               margin: 60px 0px 20px 0px;
            }    

            h3 {
                color: $secondary-color;
                padding-bottom: 20px;  

                span {
                    color: #1f1f1f;                    
                }
            }

            p {
                margin-bottom: 30px;
            }

            .buy-now-button-container {
                @include buy-now-button(145px, 60px);
                display: block;

                span {
                    display: block;
                    padding-top: 20px;
                }
            }
        }
    }

    .feature-list-container {
        width: 100%;

        @media screen and (min-width: 1024px) {
            margin-left: 30px;
        }

        .col-2x {
            //width: 100%;
            float: left;        
            text-align: left;
            margin: 100px 15px 20px 15px;

            h2 {
                padding-bottom: 20px; 
            }

            @media screen and (min-width: 1024px) {            
                width: 45%;
                margin: 100px 0 20px 0;
            }

            @media screen and (min-width: 1200px) {
                width: 47%;
            }

            span {
                font-weight: 300;
                font-size: 1.7rem;
                color: $secondary-color;
            }

            ul {
                padding-left: 20px; 

                li {
                    color: $secondary-color;
                    max-width: 100%;

                    @media screen and (min-width: 1024px) {
                        max-width: 85%;
                    }

                    span {
                        color: $text-color;
                    }
                }
            }
        }
    }
}