@import './utils/colours';
@import './utils/mixins';

.what-it-is-container { 
    position: relative;
    top: 340px;
    margin: 0;
    padding: 0;        

    @media screen and (min-width: 490px) {
        top: 300px;
    }

     @media screen and (min-width: 992px) {
        top: 20px;
        left: 70px;
     }

    .icon-container {
        position: absolute;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        
        @media screen and (min-width: 576px) {
           position: relative;
        }

        .icon {
            display: inline-block;
            margin: 5px 20px 5px 20px;

            &:first-child {
               margin: 0 40px 0 0 ; 
            }            

            @media screen and (min-width: 768px) {
                margin: 15px;
            }

            @media screen and (min-width: 992px) {
                margin: 30px;
            }

            @media screen and (min-width: 1200px) {
                margin: 10px 40px;
            }

            img {
                width: 55px;
            }

            span {
                display: block;
                font-size: 1.3rem;

                @media screen and (min-width: 992px) {
                    font-size: 1.6rem;
                }
            }
            
        }
    }

    .what-is-it-text {
        clear: both;
        position: relative;
        bottom: 40px;
        margin-top: 20px;

        @media screen and (min-width: 460px) {
            bottom: 130px;
        }

        @media screen and (min-width: 576px) {
            margin: 20px 15px 75px 150px;
            bottom: 325px;
        }

        @media screen and (min-width: 992px) {
            margin: 20px 15px 75px 100px;
            bottom: 0;
        }

        @media screen and (min-width: 1200px) {
            margin: 20px 15px 75px 100px;
        }

        h2 {
            color: $secondary-color;            
        }

        p {
            &:first-of-type {
                padding-bottom: 30px;
            }            
        }        
    } 
}